* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: transparent;
    border: none;
}

.search-button {
    background: transparent;
    border: none;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.shopping-cart {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    text-decoration: none;

}

.shopping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background-color: #FFAF19;
    color: #000;
    font-size: 8px;
    line-height: 9px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    padding: 4px;
}

.slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-width: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
}

.slide:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.slide-summer {
    background-image: url("../images/summer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-content {
    position: relative;
    max-width: 400px;
}

.slide-text-light {
    background-color: grey;
    color: white;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}

.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.button-primary {
    background: #F47322;
    color: white;
}

.button {
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.button-default {
    background-color: white;
    color: #5F5F61;
}

.promo {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    flex: 50%;
    max-width: 570px;
    min-height: 380px;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:first-child {
    margin-right: 20px;
}

.card:before {
    z-index: -1;
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card-text-light {
    color: white;
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 22px;
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}

.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}

.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.sweet-basket {
    background: url("../images/sweet.png") no-repeat center / cover;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}